#menu{
    clear: initial;
    text-align: center;
    padding: 35px;
    background: #ccc;
    font-size: 50px;
}
.ls{
    padding: 40px 200px;
}
img{
    padding: 0px 30px 30px 30px;
    width: 400px;
    height: 350px;
}
h1{
    color: brown;
    align-items: center;
    text-align: center;
}
p{
    padding: 0px 30px 30px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
}
#rodape{
    
    text-align: center;
    padding: 15px;
    background: #ccc;
    font-size: 20px;
}